.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    > .card {
      box-shadow: 1px 1px 5px 0px #00000055;
      border-radius: 2px;
      padding: 16px;
      min-width: 300px;
      background-color: white;
  
      .login-form {
        max-width: 300px;
      }

      .login-form-margin {
        margin-bottom: 16px;
      }

      .login-form-forgot {
        float: right;
      }

      .login-form-button {
        width: 100%;
      }
    }
  }
  