.container {
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    >.card {
        box-shadow: 1px 1px 5px 0px #00000055;
        border-radius: 2px;
        padding: 16px;
        min-width: 400px;
        background-color: white;
        .reset-password-form {
            max-width: 300px;
        }
        .back-button {
            background-color: white;
            color: #40A9FF;
        }
    }
}