<div class="container">
    <div class="card">
        <form nz-form [formGroup]="validateForm" class="reset-password-form">
            <!-- <img src="/assets/HMSLogo.png" alt="" width="100px" height="50px"/> -->
            <h2>Reset Password</h2>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your email!">
                    <nz-input-group>
                        <input type="email" nz-input formControlName="email" placeholder="Enter your email address" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>


            <button nz-button [nzType]="'primary'" class="back-button">Back</button>
            <span style="margin: 5px;"></span>
            <button nz-button [nzType]="'primary'" (click)="onFormSubmit()">Send</button>
        </form>
    </div>
</div>