<nz-layout class="app-layout">
	<nz-sider nzTheme="light" class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md"
		[(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
		<div class="sidebar-logo">
		</div>
		<ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed" class="sidebar-menu">
			<li nz-menu-item nzMatchRouterExact [nzSelected]="menuSelectedIndex == 0" nz-tooltip
				nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Dashboard' : ''">
				<i nz-icon nzType="appstore"></i>
				<span><a routerLink="/menu">Dashboard</a></span>
			</li>

			<span class="trigger-container">
				<i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
					(click)="isCollapsed = !isCollapsed"></i>
			</span>
		</ul>
	</nz-sider>
	<nz-layout>
		<nz-header>
			<div class="app-header">
				<span class="header_container">

				</span>
				<span class="header_container">
					<a nz-dropdown [nzDropdownMenu]="menu">
						User
						<i nz-icon nzType="down"></i>
					</a>
					<nz-dropdown-menu #menu="nzDropdownMenu">
						<ul nz-menu>
							<li nz-menu-item><i nz-icon nzType="user"></i> Profile</li>
							<li nz-menu-item><i nz-icon nzType="logout"></i> Logout</li>
							<li nz-menu-divider></li>
							<li nz-menu-item nzDisabled>3rd menu item（disabled）</li>
						</ul>
					</nz-dropdown-menu>
				</span>

			</div>
		</nz-header>
		<nz-content>
			<div class="inner-content">
				<nz-breadcrumb>
					<nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
				</nz-breadcrumb>
				<router-outlet></router-outlet>
			</div>
		</nz-content>
	</nz-layout>
</nz-layout>