:host {
    display: flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .app-layout {
    height: 100vh;
  }
  
  .menu-sidebar {
    position: relative;
    z-index: 10;
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    background-color: #001529;
  
    ::ng-deep .ant-menu-dark .ant-menu-submenu-selected {
      background-color: #a11d45;
      color: white !important;
    }
  }
  
  .header-trigger {
    height: 64px;
    padding: 0 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s, padding 0s;
  }
  
  .trigger-container {
    margin-top: auto;
    margin-bottom: 32px;
    align-self: center;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
  .sidebar-logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    overflow: hidden;
    line-height: 64px;
    transition: all 0.3s;
  }
  
  .sidebar-logo img {
    max-width: 80%;
  }
  
  .sidebar-logo h1 {
    display: inline-block;
    margin: 0 0 0 20px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
    vertical-align: middle;
  }
  
  .sidebar-menu {
    height: calc(100vh - 64px);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }
  
  nz-header {
    padding: 0;
    width: 100%;
    z-index: 2;
  }
  
  .app-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 24px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  }
  
  nz-content {
    margin: 24px;
  }
  
  .inner-content {
    overflow: auto;
    padding: 24px;
    background: #fff;
    height: 100%;
  }
  